/* ================================= 
  Base Element Styles
==================================== */




body{
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	margin: 0 auto;
}

h1{
	margin-block-start: 0.67em;
    margin-block-end: -.5em;
}

h2{
	text-align: center;
	font-size: 1.75em; 
}

h3{
	text-align: center; 
	font-size: 1.25em; 
}

p{
	font-size: 1em;
}


ul{
	padding-inline-start: 0px;
	text-align: center; 
}

img{
	max-width:100%;
}



/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Header ---- */

.main-header{
	width: 100%;
	background-color: #CC7700;
	position: fixed; 
	line-height: .5em; 
	
}

.main-title{
	text-align: center;
	padding-top: .45em;
}


/* ---- Navigation ---- */

.nav-list{
	padding: .5em 0 0 .5em; 
	}	

.nav-list a {
	font-size: .75em; 
	color: black;
	text-decoration: none; 
}
	
.nav-list a:hover {
		color: white;
	}


/* ---- Intro Banner ---- */

.intro-banner{
	padding-top: 9.5em;
	text-align: center;
	background-color: #DCDCDC;
}

.intro-banner img{
	
}

.intro-banner p{
	margin: 4em 0em 2em 0em; 
	padding: 1em; 
	color: #708090; 
}

/* ---- Portfolio Section ---- */

.portfolio li{
	display: inline-block;
	}

/* ---- Portfolio Section ---- */

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

/* ---- Contact ---- */

.contact-text-wrapping{
	text-align: center;
	background-color: lightgrey;
	padding: 1em;

}

.contact-text-wrapping p{
	margin-bottom: 0; 
	margin-top: 0; 
	font-size: 1em; 
}



/* ---- Footer ---- */

.main-footer{
	width: 100%;
	padding: .5em; 
	background-color: #A64500;
	line-height: .5em;
}

.main-footer ul{
	margin: 0px; 

}

.main-footer a {
	font-size: .65em; 
	color: black;
	text-decoration: none; 
}
	
.main-footer a:hover {
		color: white;
	}


.main-footer li{
	display: inline-block;
	padding: 0 .5em 0 0.5em; 
}



/* ---- Layout Containers ---- */

.main-wrapper{
	padding: 0em 1em;
}

/* ---- Page Elements ---- */

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 768px){

	/* ---- Header ---- */

	.main-header{
		line-height: .5em; 
	
	}

	.main-title{
		float:left;
		margin: 1em 
	}


	.intro-banner{
		padding-top: 5em;
	}

	.intro-banner img{
		width: 35%; 
		margin: 2em;
		float: left; 

	}

	.intro-banner p{
		width: 35%; 
		float:right;
		margin: 2em; 
	}

	

	.nav-list{
		float: right;
		padding: .5em 0 0 .5em; 
		margin-right: 1em;
	}	


	.nav-list li{
	display: inline-block;
	margin-left: 15px; 
	}

	.portfolio li{
		width: 40%;
		margin: auto; 
	}
	
	.portfolio li:nth-child(2n){
		margin-left: 3.3%;  
	}

	.main-footer a {
	font-size: .95em; 
	color: black;
	text-decoration: none; 
}


}

@media (min-width: 1024px){

	

	.portfolio li{
		width: 29%;
		margin-left: 3.3%;
	}
	
	.portfolio li:nth-child(3n+1){
	 	margin-left:auto;
	}

	.intro-banner img{
		width: 40%; 
		margin: 2em;
		float: left; 

	}

	.intro-banner p{
		width: 40%; 
		float:right;
		margin: 2em; 
	}


}

/* ---- Float clearfix ---- */

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
